* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// define var
$mainBlack: #222;
$mainGreen: #82b340;
$mainWhite: #fff;
$mainGrey: #ececec;

body {
  background: $mainGrey;
  color: $mainGreen;
}
.error{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error h2{
  margin-bottom:15rem;
  color: red;
}